*{
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    }
.about{
   display: flex;
   justify-content: space-around;
   /* position: fixed; */
   background-color: blanchedalmond;
}
section{
    margin-bottom: 100px;
}

.btn-primary{
     border-radius: 5px;
     background-color: red;
     text-align: center;
     font-size: 30px;
     border: 0px;
     margin-left: 240px;
     margin-bottom: 140px;
     padding: 15px 30px 15px 30px ;

}
.section-title{
    display: flex;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 210px;
 
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 25px;
    font-weight: 400; 
    padding-left: 50px; 

}

.picture{
    width: 500px;
    height:400px;
    margin-right: 50px 200px 0px 1000px;
}

 /* this is the second sections of items are pending */

 .features{
    text-align: center;
 }

 .picture-container{
    display: flex;
   

 }

 /* this is third part of section */
.hot-deals{
    display: flex;
    background-color: cadetblue;
    text-align: center;
    padding-top: 100px;
}
.hot-title{
    /* color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 40px 30px 20px ; */
    display: flex;
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 100px;
}
.hot-title .hot-description{
    padding: 40px;
}
.hot-description{
    /* color: #272727;
    font-size: 20px;
    font-weight: 400;
    padding: 20px ; */
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 200; 
    padding-left: 150px; 
}
.btn-primary-deal{
    border-radius: 5px;
    background-color: red;
    text-align: center;
    font-size: 15px;
    border: 0px;
    margin-left: 240px;
    margin-bottom: 140px;
    padding: 15px 30px 15px 15px ;
}
.hot-deals-picture{
    padding: 130px 250px 100px 300px;
    width: 318px;
    height: 420px;
} 
/* this is fourth section items */
.Instagram-section{
    text-align: center;
    gap: 20px;

}
.insta-part-display{
    display: flex;
    margin-left: 10px;
    margin-right: 100px;
}
.Instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
   
    
}
.insta-part-display, div{
        margin:5px;
     
}
        /* this is my section five */
.section-five-container{
   background-image: url('./flower asset/Rectangle\ 9.png'); 
   margin-bottom: 100px;
   background-repeat: no-repeat;
}
.section-five{
    text-align: center;
    margin-bottom: 100px;
  
}
.local{
    /* text-align: center;
    padding-bottom: 100px; */
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.input{
    background-color:white ;
    width: 300px;
    height: 30px;
    padding: 10px;
 
}
.btn-primary-low{
    border-radius: 5px;
    background-color: red;
    text-align: center;
    font-size: 15px;
    border: 0px;
    margin-bottom: 140px; 
    margin-left:100px;
    padding: 15px 30px 15px 15px ;
   
}


            /* this is section of six */
.footer-section{
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}
.color{
    color: #E55473;
}
